<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="appSettings.config.hidden">
  </appSettings>

<!-- Create file called appSettings.config.hidden and put at project root  
  <?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <add key="basespace:api-key" value="DONOTCHECKIN"/>
    <add key="basespace:api-secret" value="DONOTCHECKIN"/>
    <add key="basespace:api-accesstoken" value="DONOTCHECKIN"/>
    <add key="basespace:api-authorization-code" value="DONOTCHECKIN"/>
    <add key="basespace:api-url" value="https://api.basespace.illumina.com"/>
    <add key="basespace:api-billing-url" value="https://store.basespace.illumina.com"/>
    <add key="basespace:web-url" value="https://basespace.illumina.com"/>
    <add key="basespace:api-version" value="v1pre3"/>
</appSettings>

  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>